## Расчет конверсии

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../../data/conversion_rates.csv')

In [4]:
df.head()

   converted group
0          0     B
1          0     B
2          0     A
3          0     B
4          0     A

### Сумма кликов для каждой группы

In [6]:
converted_df = df.groupby('group').sum()
converted_df

       converted
group
A             90
B             21

### Всего просмотров для каждой группы

In [ ]:
viewed_df = df.groupby('group').count().rename({'converted':'viewed'}, axis = 'columns')
viewed_df

       viewed
group
A        1030
B         970

### Сведение данных в одну таб

In [15]:
stats = converted_df.merge(viewed_df, on='group')
stats

       converted  viewed
group
A             90    1030
B             21     970

### Процент конверсии

In [16]:
stats['conversion_ratio'] = stats['converted']/stats['viewed']
stats

       converted  viewed  conversion_ratio
group
A             90    1030          0.087379
B             21     970          0.021649

In [17]:
df = stats.stack()
df

group
A      converted             90.000000
       viewed              1030.000000
       conversion_ratio       0.087379
B      converted             21.000000
       viewed               970.000000
       conversion_ratio       0.021649
dtype: float64

In [18]:
stats.unstack().unstack()

group                       A           B
converted           90.000000   21.000000
viewed            1030.000000  970.000000
conversion_ratio     0.087379    0.021649